footer {
    padding: 30px 30px;
    padding-bottom: 45px;
    min-height: 50px;
    background: #0A0A0A;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}

.footer__element_top {
    display: flex;
    justify-content: space-between;
    max-width: 260px;
    width: 100%;
}

.footer__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px #262626 solid;
    border-radius: 100%;

    transition: 350ms;

    &:hover {
        cursor: pointer;
        border: 1px #FFF solid;
    }
}

.footer__text {
    margin-top: 20px;
    color: #969696;
    font-size: 16px;
    font-family: var(--title-font);
}