.statistics {
    
}

.statistics__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 80px 0;
    background: var(--ash-color);
}

.statistics__header {

    .text {
        max-width: 650px;
    }
}

.statistics__body {
    display: flex;
    justify-content: space-between;
    max-width: 1350px;
    padding: 0 15px;
    margin: 0 auto;

    .title {
        margin: 0;
        font-family: var(--text-font);
        font-size: calc(30px + 2vw);
        text-transform: uppercase;
    }

    .text {
        color: #999;
        text-align: center;
    }

    .icon {
        display: block;
        margin: 0 auto;
    }
}

.statistics__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 350px;
    height: 350px;
    padding: 0 15px;
    margin: 0 15px;
    background: #2C2C2C;
}

@media (max-width: 1000px) {
    .statistics__body {
        flex-wrap: wrap;
        justify-content: center;
    }
    .statistics__item {
        margin: 10px 15px;
    }
}