.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contact-form__wrapper {
    width: 100%;
    padding: 0 70px;
    z-index: 2;
}

.contact-form__body {
    display: flex;
    padding: 15px;
}

.contact-form__element {
    flex: 0 1 50%;
}

.contact-form__body_left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__item {
    color: #FFF;
    margin-bottom: 15px;
    font-family: var(--title-font);
}

.contact-form__body_right {
}

.contact-form__item {
    display: flex;
    flex-direction: column;
}

.contact-form__name {
    color: rgba(255, 255, 255, .5);
}

.contact-form__input, .contact-form__textarea {
    display: block;
    width: 100%;
    padding: 0 15px;
    margin: 10px 0 15px;
    border: 2px solid transparent;
    line-height: 40px;
    color: white;
    background: rgba(255, 255, 255, .2);
    font-family: var(--title-font);
    box-sizing: border-box;

    &:focus {
        outline: none;
        border-color: var(--goden-color);
    }
}

.contact-form__item .contact-form__textarea {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 20px;
    resize: none;
}

.contacts-us__label-item {
    max-width: 35px;
    width: 100%;
}

.contacts-us__item {
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.contacts-us__item span {
    font-weight: 700;
    font-family: var(--title-font);
    font-size: 16px;
}

.contacts-us__link {
    font-family: var(--title-font);
    color: var(--text-color);
    text-align: left;
    margin-left: 20px;
    
    &:hover {
        text-decoration: underline;
    }
}

.contact-form__submit {
    width: 150px;
    color: #FFF;
    padding: 15px;
    background: var(--darkness-color);
    outline: none;
    border: 1px #FFF solid;
    margin: 5px auto;

    transition: 350ms;

    &:hover {
        cursor: pointer;
        border-radius: 5px;
        background-color: var(--darkness-color);
        box-shadow: 0 0 5px 1px var(--goden-color);
        border: 1px transparent solid;
    }
}

textarea.contact-form__input {
    max-height: 165px;
}